body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100vh;
}

#left-side {
    position: relative;
}

.phone-some {
    width: 468px;
    height: 580px;
}

.gif-some {
    height: 495px; /* Сделал немного меньше, чтобы хорошо вписывался */
    width: 250px;
    border-radius: 30px;
    
    position: absolute;
    top: 46%; /* Размещаем по центру относительно родительского контейнера */
    left: 60%;
    transform: translate(-50%, -50%); /* Центрируем по оси X и Y */
}


#right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.some-border {
    border: 1px solid #d3d2d2;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.img-logo {
    text-align: center;
    margin-bottom: 25px;
}

#logo {
    width: 200px;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    border-radius: 5px;
    height: 36px;
    width: 260px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 5px;
}

.input-group::placeholder {
    font-size: 13px;
}

.join-button {
    background-color: #0064e0;
    border-radius: 5px;
    width: 270px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.qwerty {
    color: white;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #dadde1;
    margin: 0 10px;
}

.facebook {
    text-align: center;
    margin-bottom: 15px;
}

#facebook-logo {
    height: 20px;
    border-radius: 8px;
    vertical-align: middle;
}

.link-settings {
    color: blue;
    text-decoration: none;
    font-size: 15px;
}

.forgot-link {
    font-size: 13px;
    color: blue;
    text-decoration: none;
}

.create {
    display: flex;
    justify-content: center;
    padding: 14px;
}

.download-app {
    text-align: center;
    font-size: 15px;
}

.apps {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.app-icon {
    width: 135px;
    height: auto;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.footer-1, .footer-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.href-1 {
    font-size: 12px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}
